@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Outfit", sans-serif;
}

:root {
  --ui-radius: 0.5rem;
}

@theme {
  /* Your custom design tokens go here */
}

.expand-enter-active,
.expand-leave-active {
  transition: all 0.3s ease-in-out;
  max-height: 300px;
  overflow: hidden;
}

.expand-enter-from,
.expand-leave-to {
  opacity: 0;
  max-height: 0;
  transform: translateY(-10px);
}
